[merge]
	tool = unityyamlmerge

[mergetool "unityyamlmerge"]
	trustExitCode = false
	keepTemporaries = true
	keepBackup = false
	path = '%programfiles%\\Unity\\Hub\\Editor\\2021.3.11f1\\Editor\\Data\\Tools\\UnityYAMLMerge.exe'
	cmd = '%programfiles%\\Unity\\Hub\\Editor\\2021.3.11f1\\Editor\\Data\\Tools\\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGE"
    name = Unity SmartMerge (UnityYamlMerge)
    recursive = binary

# [diff "unity"]
#     textconv='C:\\Users\\petit_v\\unityYamlTextConv.py'